:root {
  --main-background: #eaeef1;
  --nav-background: #1e54a2;
  --primary: #1890ff;
  --primary-light: #fff;
  --primary-dark: #1e54a2;

  --main-font: #292929;
  --light-font: #ffffff;

  --btn-primary: #1890ff;
  --btn-primary-hover: #61b2fd;
  --btn-second: #f53e94;
  --btn-second-hover: #fc67ad;
}
